<!DOCTYPE html>
<html>
<head>
    <title>Eclipse classification project</title>

    <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Description</th>
                <th>Classification</th>
            </tr>
        </thead>
        <tbody>
            <% @repositories.each do |r| %>
                <tr class="<%= r.classification %>">
                    <td><%= r.name %></td>
                    <td>
                        <a href="https://www.github.com/<%= r.name %>" target="_new">
                            Link
                        </a>
                    </td>
                    <td><%= r.description %></td>
                    <td><%= r.classification %></td>
                </tr>
            <% end %> 
        </tbody>
    </table>
</body>
</html>